html, body {
 padding-top: 55px;
 font-size: 14px;

}

.hero-unit {
  padding: 30px;
  margin-bottom: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}
.hero-unit p {
  font-size: 16px;
  font-weight: 200;
  line-height: 27px;
}


.tumblr_title {
		font-size: 35px;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	
	.tumblr_body {
		line-height: 1.5em;
		font-size: 18px;
		padding-bottom: 20px;
	}
	
	.tumblr_caption {
		font-size: 12px;
	}
		
ol {
    list-style-type: none;
}

.navbar-fixed-heading {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #ffffff;
}

.navbar-fixed-top {
  position: fixed;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 1030;
}
h1 small {
  font-weight: normal;
  color: #2cb3be;
}

.thumbnails {
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
}
.thumbnails:before, .thumbnails:after {
  display: table;
  content: "";
}
.thumbnails:after {
  clear: both;
}
.thumbnails > li {
  float: left;
  margin: 0 0 18px 20px;
  
}
.thumbnail {
  background-color: #f5f5f5;
  display: block;
  padding: 4px;
  line-height: 1;
}
a.thumbnail:hover {
  border-color: #7f837a;
}
.thumbnail > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.thumbnail .caption {
  padding: 9px;
}

