html, body {
 padding-top: 30px;
 font-size: 14px;

}

.hero-unit {
  padding: 30px;
  margin-bottom: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}
.hero-unit p {
  font-size: 16px;
  font-weight: 200;
  line-height: 27px;
}


.tumblr_title {
		font-size: 35px;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	
	.tumblr_body {
		line-height: 1.5em;
		font-size: 18px;
		padding-bottom: 20px;
	}
	
	.tumblr_caption {
		font-size: 12px;
	}
		
ol {
    list-style-type: none;
}


